* {
    margin: 0
}

.clear-fix {
    clear: both
}

.fixed-fix {
    height: 85px
}

/*
============================================
            start nav bar
============================================
*/

nav {
    position: fixed;
    width: 100%;
    height: 75px;
    padding: 20px 30px;
    box-sizing: border-box;
    box-shadow: 0px 1px 20px #ededed;
    background-color: white;
    z-index: 2;
}

nav .logo {
    font-size: 34px;
    color: #705ECF;
    font-family: arial;
    text-shadow: 1px 1px 1px #555;
    display: inline-block
}

nav .menu-label {
    background-image: url('../images/iconfinder_Menu_green_1891031.png');
    float: right;
    background-size: cover;
    padding: 20px;
    display: none;
}
nav .media-div .search {float: right}

nav .media-div .search .search-bar {
    padding: 12px 10px;
    border: 0;
    background-color: #F7F7F7;
    outline: 0;
    letter-spacing: 2px;
    color: #444;
    float: left;
    transition: all .3s linear;
    width: 0px;
}

nav .media-div .search .fa-search {
    padding: 12px 15px;
    background-color: #27C3A2;
    font-size: 16px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    float: left;
}

.media-div .search .search-ch:checked ~ .search-bar {
    width: 160px;
    display: inline-block;
}



nav .media-div {
    float: right;
    display: flex;
    justify-content: center;
}

nav .fa-search:hover {background-color: #6fc3b1;}

nav .media-div a {
    padding: 12px 15px;
    font-size: 14px;
    background-color: #705ECF;
    border-radius: 10px;
    transition: background-color .2s ease-in-out;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-family: arial;
    flex-shrink: 0;
}

nav .media-div a:hover {background-color: #8d80d0}



nav .main-ul {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

nav .main-ul .active {color: #27C3A2}

nav .main-ul li {
    display: inline-block;
    color: #000;
    font-family: arial;
    transition: color .2s ease-in-out;
    font-size: 15px;
    padding-right: 15px
}

nav .main-ul li:hover {color: #27C3A2}

nav .main-ul .media-li {display: none}

/* start of the drop down list*/

nav .main-ul .drop-list {cursor: pointer}

nav .main-ul .drop-list .sec-ul {
    background: #111;
    border-radius: 5px;
    color: white;
    position: absolute;
    padding: 20px;
    width: 120px;
    display: none;
}

nav .main-ul .drop-list .sec-ul li {color: white;}

nav .main-ul .drop-list .sec-ul li:hover {color: #27C3A2}

nav .main-ul .drop-list {position: relative}

nav .main-ul .drop-list:hover .sec-ul {display: inline-block}

/* end of the drop down list*/

.main-ul a {
    text-decoration: none;
}



@media(max-width : 1119px) {
    nav {padding: 20px 0}

    nav .main-ul {
        display: none;
        position: static;
        margin: 12px 0
    }

    nav .media-div {
        float: right;
        margin-top: 0;
        align-items: center;
        justify-content: space-between
    }

    nav .media-div .search .search-bar .search-bar {
        float: right;
        margin-right: 10px;
    }

    nav .media-div .search {float: left}

    nav .menu-label {
        display: inline-block;
        margin-right: 20px
    }

    nav .main-ul .media-li {display: block}

    nav .main-ul .active {
        background-color: #27C3A2;
        color: white;
    }

    nav .logo {margin-left: 20px}

    nav .main-ul .drop-list {display: none}

    .ch:checked ~ .main-ul {
        display: block;
        background-color: #fff;
        transform: translate(0, 0);
        padding: 0;
        width: 100%
    }

    .ch:checked ~ .main-ul li {
        display: block;
        text-align: center;
        padding: 10px 0;
        font-size: 18px;
    }

    .ch:checked ~ .main-ul .drop-list {
        display: none
    }

    nav .main-ul li:hover {
        background-color: #27C3A2;
        color: white;
    }
}

@media(max-width : 767px) {    
    nav .menu-label {display: inline-block;}
    
    nav .search {float: none;}

    .media-div .search .search-bar {width: 0;}

    .fixed-fix {height: 85px;}

    .media-div .search .search-ch:checked ~ .search-bar {
        width: 55%;
        display: inline-block;
    }
}

@media (max-width:700px) {
    nav {height: 120px;}

    nav .media-div {
        float: none;
        margin: 9px 0;
    }
    
    nav .media-div .search  .fa-search {margin: 0}
    
    nav label {float: left}

    .media-div .search .search-bar {
        float: left;
        margin: 0
    }
}


/*
============================================
            end nav
============================================
*/


/*
============================================
            start card
============================================
*/
h2.crew-title {
    text-align: center;
    font-family: 'Quicksand', arial;
    color: #9285DA;
    font-size: 40px;
    margin: 50px 0 10px;
}

p.crew-title {
    font-family: arial;
    color: #555;
    margin: 0;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px
}

.main-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.card {
    width: 33%;
    height: 700px;
    border-radius: 10px;
    position: relative;
}

.card:hover {
    box-shadow: 0px 0px 20px #444;
    transition: box-shadow .2s linear
}

.card .card-image {
    height: 250px;
    width: 250px;
    border: 2px solid #555;
    border-width: 0 3px 15px;
    background-size: cover;
    border-radius: 50%;
    margin: 60px auto;
}

.card:hover .card-image {
    border-color: #27C3A2;
    transition: border-color .2s linear
}

.card .info {
    text-align: center;
    color: #555;
    font-size: 23px;
    line-height: 1.7;
    font-family: tahoma
}

.card .info .title {
    color: #333;
    font-weight: bolder;
    font-family: sans-serif
}

.card .info .social i {
    padding: 8px;
    border-radius: 30%;
    color: white
}

@media(max-width:1119px) {
    .card {
        width: 50%;

    }
}

@media(max-width:900px) {
    .card {
        width: 100%;
        height: 600px
    }

    .card .card-image {
        width: 200px;
        height: 200px
    }
}


@media(max-width:500px) {
    p.crew-title {
        font-size: 20px
    }

    .card .card-image {
        width: 150px;
        height: 150px
    }

    .card .social i {
        font-size: 13px
    }
}

/*
============================================
            end card
============================================
*/

/*
============================================
            start form
============================================
*/
legend {
    text-align: center;
    color: #705ECF;
    font-size: 25px;
    font-family: 'Quicksand';
    padding: 0px 30px;
    background-color: white;
    margin-bottom: 50px
}

fieldset {
    text-align: center
}

fieldset form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

form .data {
    width: 40%
}

form .data label {
    color: rgba(112, 94, 207, 0.88);
    font-size: 25px;
    margin-bottom: 20px;
    font-family: sans-serif
}

form .data input {
    width: 90%;
    height: 30px;
    font-size: 17px;
    border: 2px solid #555;
    padding: 10px 20px;
    outline: 0;
    border-radius: 10px;
    background: 0;
    margin: 20px 0 10px
}

form .file label {
    color: #705ECF;
    font-family: arial
}

form input[type="file"] {
    color: white;
    background-color: #705ECF;
    text-align: center;
    font-size: 14px;
    font-family: arial;
    margin: 20px 0;
}

fieldset input[type="submit"] {
    height: 40px;
    background-color: #523bcb;
    border: 0;
    width: 20%;
    color: white;
    outline: 0;
    font-size: 25px;
    letter-spacing: 2px;
    border-radius: 15px
}

fieldset input[type="submit"]:hover {
    background-color: #7667c4
}

@media(max-width : 696px) {
    legend {
        font-size: 20px
    }

    form .data {
        width: 100%;
        text-align: center
    }

    form .data label {
        font-size: 20px;
        margin: 0 50px 20px
    }

    form .data input {
        text-align: center;
        letter-spacing: 1.5px;
        color: #333;
        width: 65%;
        height: 20px
    }

    form input[type="file"] {
        width: 200px
    }

    form .file {
        text-align: center;
        margin: 20px 0
    }

    fieldset input[type="submit"] {
        width: 130px
    }
}

/*

============================================
            end form
============================================
*/















/*
============================================
            start footer
============================================
*/
footer {
    border: 1px solid #999;
    border-width: 1px 0 0;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: #F8F9FA;
    font-family: arial;
    box-sizing: border-box;
    margin: 50px 0 0 0
}

footer .social i {
    color: #705ECF;
    cursor: pointer;
    font-size: 19px
}

footer .social i:hover {
    color: #27C3A2
}

footer .fa-level-up {
    color: #27C3A2;
}

@media(max-width : 767px) {
    footer {
        padding: 20px 20px;
    }

    footer .rights {
        font-size: 10px
    }

    footer .fa-level-up {
        font-size: 20px
    }

    footer .social {
        font-size: 0px
    }

    footer .social i {
        margin-left: 3px;
        font-size: 12px;
    }
}

/*
============================================
            end footer
============================================
*/
